/*
Import some google fonts for prettyness
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

/* Palette of colours
#1B0C21
#631A55
#E30B33
rgb(244,192,221)
#BA31C8
*/

/*
Make the logo dissapear if resolution is too low
*/
@media only screen and (max-width: 900px) {
  #logo {
    display: none;
  }
}

#logo {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 400px;
}

* {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-image: url("assets/background.png");
  background-attachment: fixed;
  color: #2d2327;
  background-size: auto 100%;
  margin-top: 130px;
  background-position: center;
}

.contentbox {
  width: 75%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: rgba(244, 192, 221, 0.75);
  color: #24174;
  padding: 30px 30px;
  border-radius: 0px 30px;
  overflow: hidden;
  text-align: justify;
}

.menu {
  position: fixed;
  text-align: right;
  margin: auto auto;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 2;
  width: 100%;
  background-color: black;
  overflow: hidden;
  border-bottom: solid;
  border-color: #631A55;
  border-width: 2px;

}

a.button{
  background: url("assets/aboutmesprite.png");
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  width: 600px;
  float: right;
  z-index: 1000;
  position: relative;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}
a.button:hover {
  background-position: 0 -87px;
}



.lines img {
  float: none;
  position: absolute;
  left: 0px;
  opacity: 0.2;
  z-index: 5;
  width: 100%;
}
