/*
Import some google fonts for prettyness
*/



@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

/* Palette of colours
#1B0C21
#631A55
#E30B33
rgb(244,192,221)
#BA31C8
*/

/*
Make the logo dissapear if resolution is too low
*/
@media only screen and (max-width: 900px) {
  #logo {
    display: none;
  }
}


#logo {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 400px;
}

body {
  background-image: url("assets/background.png");
  background-attachment: fixed;
  background-size: auto 100%;
  margin-top: 130px;
  background-color: black;
  background-position: center;
}

.contentbox {
  width: 75%;
  margin: 20px auto;
  background-color: rgba(244, 192, 221, 0.75);
  color: #24174;
  padding: 30px 30px;
  border-radius: 0px 30px;
  overflow: hidden;
  text-align: justify;
  min-width: 420px;
max-width: 1000px;
  font-family: 'Exo 2', sans-serif;

}

.menu {

  position: fixed;
  text-align: right;
  margin: auto auto;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 2;
  width: 100%;
  background-color: black;
  overflow: hidden;
  border-bottom: solid;
  border-color: #631A55;
  border-width: 2px;
}

a.menulink {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 40px;
  padding-right: 30px;
  color: white;
}

a.menulink:hover{
  color: #E30B33;
}

td {
  padding-bottom: 1em;
}
